html,body {
    min-height:100%;
    height:100%;
}

#busServiceArrivalTable, #busStopArrivalTable {
    max-height:20vh;
}

.container-fluid {
  height: 100vh;
  width: 100%;
  padding:0; !important
}

.modal-footer, .modal-header {
    background-color:#CF5C3F;
    color:white;
}

.modal, .modal-body {
    background-color:#343a40;
    color:white;
}

#map {
    height: 100%;
    width: 100%;
}

#map2 {
    height: 90%;
    width: 100%;
}

#header {
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    background-color:#CF5C3F;
    opacity: 50;
    color: white;
    text-shadow: 2px 2px red;
}

#header img {
    height: 80%;
    width: auto;

}

#filterbox {
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
}

#pills-tab {
    height: 5%;
    width: 100%;
    margin:0;
    padding:0;
}

#content {
    height: 82vh;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #343a40;
    color: white;
}

.tab-content {
    height: 82%;
    width: 100%;
    margin:0;
    padding:0;
}

.tab-pane {
    height:100%;
}

#navigationFooter {
    height: 8vh;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #CF5C3F;
}

#navigationFooter img{
    padding: 7px;
    height: 100%;
    width: auto;
}

#activeNav {
    background: #1d2124;
    border-radius: 5px;
    height: 7vh;
    margin: 0.5vh 5px 0px 5px;
    opacity: 0.8;
}

.navigationFooterButtons {
    margin:0;
    padding:10px;
}

.table-responsive {
    max-height:68vh;
    background-color: #343a40;
}

.table td{
    vertical-align: middle;

}
.table tr{
    vertical-align: middle;
}
.table thead th{
    vertical-align: middle;
}

.table tbody th {
    text-align: left;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    opacity: 0.5;
    background-color: black;
    color: white;
}

.nav-pills .nav-link{
    color:black;
    font-weight: bold;
    background-color: #d3d3d3;
}

.table tbody th{
    vertical-align: middle;
}
