@font-face {
    @font-face {
    font-family: "Raleway";
    src: url("Raleway.ttf") format("truetype");
  }
}

.container-fluid {
  height: 100vh;
  width: 100%;
  padding:0; !important
}

#map {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    background-color:#CF5C3F;
    opacity: 50;
    color: white;
    text-shadow: 2px 2px red;
}

#header img {
    height: 80%;
    width: auto;

}

h1 {
    margin:0;
    padding:0;
}

#content {
    height: 92vh;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #343a40;
    color: white;
}

.tab-content {
    height: 82%;
    width: 100%;
    margin:0;
    padding:0;
}

#filterbox {
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
}

#pills-tab {
    height: 5%;
    width: 100%;
    margin:0;
    padding:0;
}


#navigationFooter {
    height: 8%;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #CF5C3F;
}


#navigationFooter img{
    padding: 7px;
    height: 100%;
    width: auto;
}

#activeNav {
    background: #1d2124;
    border-radius: 5px;
    height: 7vh;
    margin: 0.5vh 5px 0px 5px;
    opacity: 0.8;
}

.table-responsive {
    max-height:76vh;
    background-color: #343a40;
}

.table td{
    vertical-align: middle;

}
.table tr{
    vertical-align: middle;
}
.table thead th{
    vertical-align: middle;
}

.table tbody th {
    text-align: left;
}

.nav-fill .nav-item {
   background-color: #CF5C3F;
    height: 6.8vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    margin: 0.5vh 5px 0.5vh 5px;
    padding: 0;
    background-color: #1d2124;
    color: white;
    height: 5.8vh;
}


.nav-pills .nav-link{
    margin:0;
    padding: 0;
    color:white;
    font-weight: bold;
    background-color: #CF5C3F;
    opacity: 0.8;
}

.table tbody th{
    vertical-align: middle;
}

#logo {
    position: fixed;
    bottom: 0.1vh;
    right: 45vw;
    width: 50px;
    height:auto;
    width: auto;
    max-height: 50px;
    max-width: 50px;
}

#busfeedword {
    position: fixed;
    bottom: 9vh;
    right: 10px;
    height:2vh;
    width: auto;
}
