@font-face {
    @font-face {
    font-family: "Raleway";
    src: url("Raleway.ttf") format("truetype");
  }
}

.container-fluid {
  height: 100vh;
  width: 100%;
  padding:0; !important
}

.table-responsive {
    max-height:100%;
}

#map {
    height: 100%;
    width: 100%;
}

#header {
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family:Raleway;
    margin:0;
    padding:0;
}

h1 {
    margin:0;
    padding:0;
}

#content {
    height: 80%;
    width: 100%;
    margin:0;
    padding:0;
}

.tab-content {
    height: 85%;
    width: 100%;
    margin:0;
    padding:0;
}

#filterbox {
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
}

#pills-tab {
    height: 5%;
    width: 100%;
    margin:0;
    padding:0;
}

#navigationFooter {
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
}

.navigationFooterButtons {
    margin:0;
    padding:10px;
}
