html,body {
    min-height:100%;
    height:100%;
}

#busServiceArrivalTable, #busStopArrivalTable {
    max-height:20vh;
}

.container-fluid {
  height: 100vh;
  width: 100%;
  padding:0; !important
}

.modal-footer, .modal-header {
    background-color:#CF5C3F;
    color:white;
    padding: 7px 10px 7px 10px;
}
.modal-header {
    border-radius: 0.5rem 0.5rem 0 0
}
.modal-footer{
    border-radius: 0 0 0.5rem 0.5rem
}

.modal-content {
    vertical-align:center; !important;
    border-radius: 0.5rem;
}
.modal-body {
    background-color:#343a40;
    color:white;
}

#map {
    height: 100%;
    width: 100%;
}

#map2 {
    height: 90%;
    width: 100%;
}

#header {
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
    background-color:#CF5C3F;
    opacity: 50;
    color: white;
    text-shadow: 2px 2px black;
}

#header img {
    height: 80%;
    width: auto;

}

#filterbox {
    height: 10%;
    width: 100%;
    margin:0;
    padding:0;
}

#pills-tab {
    height: 5%;
    width: 100%;
    margin:0;
    padding:0;
}

#content {
    height: 82vh;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #343a40;
    color: white;
}

.tab-content {
    height: 82%;
    width: 100%;
    margin:0;
    padding:0;
}

.tab-pane {
    height:100%;
}

#navigationFooter {
    height: 8vh;
    width: 100%;
    margin:0;
    padding:0;
    background-color: #CF5C3F;
}

#navigationFooter img{
    height: 100%;
    width: auto;
}

#activeNav {
    background: #1d2124;
    border-radius: 0.5rem;
    height: 7vh;
    margin: 0.5vh 5px 0px 5px;
    opacity: 0.8;
}

.navigationFooterButtons {
    margin:0;
    padding:10px;
}

.table-responsive {
    max-height:68vh;
    background-color: #343a40;
}

.table td{
    vertical-align: middle;

}
.table tr{
    vertical-align: middle;
}
.table thead th{
    vertical-align: middle;
}

.table tbody th {
    text-align: left;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {

    background-color: #f29851;
    opacity: 0.8;
    color: white;
}

.nav-pills .nav-link{
    color:white;
    font-weight: bold;
    opacity: 0.5;
    background-color: #343a40;

}

.table tbody th{
    vertical-align: middle;
}

#busserviceTable{

    border-radius: 0.5rem;
    margin-bottom: 0px;
}

.table td, .table th{
    border-top-style:none;
}

#busServiceArrivalTable {
    border-radius: 0.5rem;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: white;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #ff8c73;
}

#bookmarkButton {
    background-color: #f46949;
    border-color: #f46949;
    box-shadow:none;
}

#bookmarkButton:hover {
    background-color: #CF5C3F;
    border-color: #Cf5C3F;
}

.modal-dialog modal-lg {
    padding-top: 10vh;
    padding-bottom: 10vh;
    height: 100vh;
}
