<!DOCTYPE html>
<html>
  <head>
    <style>
      #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var ntu = {lat: 1.3483, lng: 103.6831};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: ntu
        });
        var marker = new google.maps.Marker({
          position: ntu,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=API-KEY-HERE&callback=initMap">
    </script>
  </body>
</html>
