<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

    <title>BusFeed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/busfeed.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row" id="content">
            <div id="map"></div>
        </div>

        <div class="row" id="navigationFooter">
            <div class="col navigationFooterButtons text-center" id="activeNav">
                <a href="nearbybusstop.html"><img src="https://maps.google.com/mapfiles/kml/shapes/man.png" class="img-fluid" alt="Busstop"></a>
            </div>
            <div class="col navigationFooterButtons text-center" id="route">
                <a href="routeplanning.html"><img src="css/icons/Route.png" class="img-fluid" alt="Route"></a>
            </div>
            <div class="col navigationFooterButtons text-center" id="information">
                <a class="active" href="information.html"><img src="css/icons/Information.png" class="img-fluid" alt="Information"></a>
            </div>
            <div class="col navigationFooterButtons text-center" id="bookmark">
                <a href="bookmarks.html"><img src="css/icons/Bookmark.png" class="img-fluid" alt="Bookmark"></a>
            </div>
        </div>
    </div>

<script src="js/nearbybusstop.js"></script>
<script>window.scrollTo(0,1);</script>    
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAw0W2TkgO4TmBoATTf_gkmM5NfStpD6FE&callback=initMap">
</script>
</body>
</html>
